input, .input, textarea {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 4px;
  color: #666;
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

input[type="submit"], .input[type="submit"] {
  background: #666;
  color: #fff;
}

input[type="submit"]:hover, .input[type="submit"]:hover {
  background: #555;
}

input[type="checkbox"], input[type="radio"] {
  width: auto;
}

input[type="checkbox"]+label, input[type="radio"]+label {
  font-weight: normal;
  margin: 0 4px;
}

textarea{
  resize: none;
}

.reformact-radio-group-title {
  font-weight: normal;
}

.input-select {
  cursor: pointer;
  position: relative;
  padding: 4px 16px;
}

.input-select input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.input-holder {
  position: relative;
  margin-bottom: 30px;
}

.input-holder span {
  padding-bottom: 4px;
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  opacity: .7;
}

.ops-triangle {
  position: relative;
  top: 9px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: #666 transparent transparent transparent;
}

.ops-handle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  display: table;
}

.ops-handle i {
  display: table-cell;
  vertical-align: middle;
}

.val-one {
  display: inline-block;
  padding: 4px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  font-size: 12px;
}

.val-one a {
  margin: 0 4px;
  position: relative;
  z-index: 2;
}

.reformact-select-options {
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  visibility: hidden;
  max-height: 200px;
  overflow: auto;
  opacity: 0;
  padding: 8px 0;
  position: absolute;
  top: 90%;
  left: 15px;
  right: 15px;
  background: #fff;
  z-index: 10;
  border-radius: 4px;
  color: #666;
  box-shadow: 0 0 8px rgba(0, 0, 0, .1), 0 4px 16px -2px rgba(0, 0, 0, .2)
}

.reformact-select-options>div {
  padding: 8px;
  display: block;
  cursor: pointer;
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.reformact-select-options>div:hover {
  background: #fafafa;
}

.reformact-select-options.vis {
  visibility: visible;
  top: 101%;
  opacity: 1;
}

.input-err~span, .input-errors {
  color: rgb(255, 128, 128)
}

.input-err {
  border-color: rgb(255, 128, 128);
  color: rgb(255, 128, 128);
}

.input-errors {
  padding: 0 20px;
}
