input, .input {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 4px;
  padding: 4px;
  color: #666;
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

input[type="submit"], .input[type="submit"] {
  background: #666;
  color: #fff;
}

input[type="submit"]:hover, .input[type="submit"]:hover {
  background: #555;
}

input[type="checkbox"]{
  width: auto;
}

input[type="checkbox"] + label{
  font-weight: normal;
  margin: 0 4px;
}

.input-select {
  cursor: pointer;
  position: relative;
}

.input-holder {
  position: relative;
  margin-bottom: 30px;
}

.input-holder span {
  padding-bottom: 4px;
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  opacity: .7;
}

.ops-triangle {
  position: relative;
  top: 9px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: #666 transparent transparent transparent;
}

.ops-handle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  display: table;
}

.ops-handle i {
   display: table-cell;
   vertical-align: middle;
}

.val-one {
  display: inline-block;
  padding: 4px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  font-size: 12px;
}

.val-one a{
  margin: 0 4px;
}

.reformact-select-options {
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  visibility: hidden;
  max-height: 200px;
  overflow: auto;
  opacity: 0;
  padding: 8px 0;
  position: absolute;
  top: 90%;
  left: 15px;
  right: 15px;
  background: #fff;
  z-index: 10;
  border-radius: 4px;
  color: #666;
  box-shadow: 0 0 8px rgba(0, 0, 0, .1), 0 4px 16px -2px rgba(0, 0, 0, .2)
}

.reformact-select-options > div {
  padding: 8px;
  display: block;
  cursor: pointer;
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.reformact-select-options >div:hover {
  background: #fafafa;
}

.reformact-select-options.vis {
  visibility: visible;
  top: 101%;
  opacity: 1;
}

.input-err~span, .input-errors {
  color: rgb(255, 128, 128)
}

.input-err {
  border-color: rgb(255, 128, 128);
  color: rgb(255, 128, 128);
}

.input-errors {
  padding: 0 20px;
}

.input-errors li {
  position: relative;
  animation: error-item .3s;
  animation-fill-mode: forwards;
}

@keyframes error-item {
  0% {
    top: -10px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
